@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');
.bronze{
    color: #a07f42;
}
.dashboard-item{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
h2{
    font-size: 70px;
    color: #FEFCFB;
    margin-bottom: 15px;
}
.th3{
    font-size: 30px;
    color: #FEFCFB;
    margin-bottom: 15px;
}
.btn{
    background-color: #B7975B;
    font-size: 21px;
    color: #FEFCFB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-color: #09080D;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.header-image{
    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(/img/inicio.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    align-items: center;
}
.header-txt h1{
    font-size: 120px;
    line-height: 110px;
    color: #fefcfb;
    margin-bottom: 15px;
}
.precio{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.875rem;
    color: #fefcfb;
}
.card-member{
    font-size: 1.3rem;
    color: #fefcfb;
}
.header-txt p, span{
    font-size: 20px;
    color: #E0E0E0;
    margin-bottom: 35px;
}
.btn-1{
    display: inline-block;
    padding: 11px 45px;
    background-color: #B7975B;
    color: #FEFCFB;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
}
.btn-1:hover{
    background-color: #a07f42;
    color: #bfa87d;
}
/* Info1 */
.direction{
    
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}
.direction p{
    color: #FEFCFB;
    font-size: 20px;
}
.direction span{
    color: #FEFCFB;
    font-size: 30px;
}
/* ABOUT */
.about{
    padding: 50px 0;
    display: flex;
}
.about-txt{
    width: 50%;
}
.about-img{
    width: 50%;
} 
.about-img img{
    width: 600px;
}
.about-txt p{
    font-size: 20px;
    color: #E0E0E0;
    margin-bottom: 30px;
}
.information{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.information-1{
    display: flex;
    align-items: center;
}
.information-1 h3{
    font-size: 90px;
    color: #FEFCFB;
}
.information-1 p{
    font-size: 30px;
    color: #E0E0E0;
    margin-left: 15px;
}
.entrenadores{
    display: flex;
    justify-content: space-between;
}
.entrenador{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 90%;
    padding: 25px;
}
.txt{
    position: relative;
}
.txt span{
    color: #B7975B;
    font-size: 35px;
}
.txt h3{
    color: #FEFCFB;
    font-size: 35px;
}

/* NOSOTROS */
.header-Nimage{
    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(img/nosotros.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.header-Ntxt h1{
    font-size: 110px;
    color: #E0E0E0;

}
.header-Ntxt span{
    font-size: 40px;
    color: #E0E0E0;

}
.header-Ntxt p{
    font-size: 20px;
    color: #E0E0E0;
    padding-left: 20%;
    padding-right: 20%;
}
.info-header{
    padding-top: 5%;
    color: #E0E0E0;
}
.card{
    background-color: whitesmoke;
}
.img-card{
    width: 70%;
    margin-left: 15%;
    /* margin-right: 30%; */
}
.card-info{
    font-size: 12px;
}
.card-txt{
    font-size: 12px;
}
.card-header{
    color: #a07f42;
}
.htitulo {
    font-size: 150px;
    /* line-height: 300px; */
    -webkit-text-stroke: 3px #a07f42;
    color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: oblique;
    padding-top: 3%;
}
.hinfo {
    font-size: 50px;
}
.hspan{
    font-size: 30px;
    text-align: center;
    color: #a07f42;
    font-style: oblique;
}


