<section class="direction container">
    <div class="row m-2">
        <span class="col-lg-2 col-md-3 col-sm-6">Entrenamientos personalizados</span>
        <span class="col-lg-2 col-md-3 col-sm-6">Clases Online</span>
        <span class="col-lg-2 col-md-3 col-sm-6">Coaches change live</span>
        <span class="col-lg-2 col-md-3 col-sm-6">Planes nutricionales</span>
        <span class="col-lg-2 col-md-3 col-sm-6">Sesiones de terapia</span>
        <span class="col-lg-2 col-md-3 col-sm-6">Salud y bienestar</span>
    </div>
</section>
