<section class="information row">
  <div class="information-1 col-lg-3 col-md-5 col-sm-6">
    <h3>1</h3>
    <p>Healthy life</p>
  </div>
  <div class="information-1 col-lg-3 col-md-5 col-sm-6 ">
    <h3>2</h3>
    <p>Courses</p>
  </div>
  <div class="information-1 col-lg-3 col-md-5 col-sm-6">
      <h3>3</h3>
      <p>Strategies</p>
  </div>
  <div class="information-1 col-lg-3 col-md-5 col-sm-6">
      <h3>4</h3>
      <p>Workout</p>
  </div>
</section>