</body>
    
<!-- Footer -->
<footer class="mt-5 py-5">
<div class="row container mx-auto pt-5">
  <div class="footer-one col-lg-4 col-md-6 col-12">
    <!-- <img src="img/logo2.png" alt=""> -->
    <p class="pt-3">Fitness for anyone, anytime and anywhere.</p>
  </div>

  <div class="footer-one col-lg-4 col-md-6 col-12 mb-3">
    <h5 class="pb-2">Contactenos</h5>
    <div>
      <h6 class="text-uppercase">Dirección</h6>
      <p>Av del Mar 1200, Tellería, 82100 Mazatlán, Sin. Mexico</p>
    </div>

    <div>
      <h6 class="text-uppercase">Telefono</h6>
      <p>+52 (669) 555-5515 </p>
    </div>

    <div>
      <h6 class="text-uppercase">Email</h6>
      <p>BlackoutGym@gmail.com</p>
    </div>
  </div>

  <div class="footer-one col-lg-4 col-md-6 col-12">
    <h5 class="pb-2">Instagram</h5>
    <div class="row">
      <img class="img-fluid w-25 h-100 m-2" src="img/insta/1.jpg" alt="">
      <img class="img-fluid w-25 h-100 m-2" src="img/insta/2.jpg" alt="">
      <img class="img-fluid w-25 h-100 m-2" src="img/insta/3.jpg" alt="">
      <img class="img-fluid w-25 h-100 m-2" src="img/insta/4.jpg" alt="">
      <img class="img-fluid w-25 h-100 m-2" src="img/insta/5.jpg" alt="">
    </div>
  </div>

  <div class="copyright mt-5">
    <div class="row container mx-auto">

      <div class="col-lg-4 col-md-6 col-12 mb-4">
        <img src="img/payment.png" alt="">
      </div>

      <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
        <p>BlackoutGym © 2022. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
