<div class="header-image">
    <div class="header-txt ">
        <h1>Blackout Gym</h1>
        <span>Fitness for anyone</span>
        <span>Anytime and anywhere</span>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Explicabo quidem ipsum iure magnam tempore, qui maxime repellat nam saepe amet necessitatibus molestias 
            quis perspiciatis autem labore beatae iste magni ratione.
        </p>
      </div>
          <a href="#" class="btn-1">Registrarse</a>
    </div>
  </div>