<section class="my-5 pb-5">
    <div class="container my-5 py-5">
        <br><br>
        <br><br>
        <div class="row">
      
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 col-lg-8">
                                <form >
                                <div class="row g-3 mt-4">
                                    <div class="col-12 mt-2">
                                        <label for="Email" class="form-label"><h4>Email</h4></label>
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="correo@ejemplo.com" required>
                                        <div class="invalid-feedback">
                                            Ingrese un correo electronico valido.
                                        </div>
                                    </div>

                                    <div class="col-12 mt-2">
                                        <label for="Password" class="form-label"><h4>Contraseña</h4></label>
                                        <input type="password" class="form-control" id="Pswd" name="Pswd" placeholder="Contraseña" required>
                                        <div class="invalid-feedback">
                                            Ingrese una contraseña.
                                        </div>
                                    </div>   
                                </div>

                                <div class="mt-5 mb-5"><center><button id="loginCliente" type="submit">Aceptar</button></center></div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            <br>
            <a href=""><center>Registrate aqui</center></a>
            </div>
        </div>
    </div>
</section>