<div class="container pt-4">
    <div class="row">
        <div class="text-center">
            <h2>Escoge tu membresia</h2>
            <p class="precio text-warning">¡Inscribete!</p>
        </div>
        <hr class="text-white">
    </div>
    <div class="row m-4">
        <h3 class="th3">Sucursal</h3>
        <form>
            <select class="form-select" aria-label="Default select example">
                <option selected>Selecciona una sucursal</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </form>
    </div>
    <div class="row">
        <div class="card bg-transparent border-warning text-white" style="width: 25rem; ">
            <div class="card-body card-member">
                <h1 class="text-center text-warning">Individual</h1>
                <p class="text-center precio">$999</p>
                <br>
                <ul>
                    <li><i class="fa-regular fa-circle-check fa-lg m-2" style="color: #ffffff;"></i>Inscripción</li>
                    <li><i class="fa-regular fa-circle-check fa-lg m-2" style="color: #ffffff;"></i>Cuota de mantenimiento</li>
                </ul>
                <hr>
                <ul>
                    <li><i class="fa-regular fa-circle-xmark fa-lg m-2" style="color: #ffffff;"></i>MultiSucursal</li>
                    <li><i class="fa-regular fa-circle-check fa-lg m-2" style="color: #ffffff;"></i>Acceso 24hrs</li>
                    <li><i class="fa-regular fa-circle-check fa-lg m-2" style="color: #ffffff;"></i>Clases</li>
                    <li><i class="fa-regular fa-circle-xmark fa-lg m-2" style="color: #ffffff;"></i>Invitados</li>
                </ul>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-outline-secondary btn-md " href="/" role="button">¡Elegir Plan!</a>
                </div>
                
            </div>
        </div>
    </div>
</div>