<nav class="navbar navbar-expand-lg bg-white"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/logo.png" alt="logo" width="100" class="d-inline-block align-text-top"> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <a class="btn btn-outline-secondary btn-lg m-2" href="/" role="button">Nosotros</a> 
        <a class="btn btn-outline-secondary btn-lg m-2" href="/" role="button">Sucursales</a> 
        <a class="btn btn-outline-secondary  btn-lg m-2" href="/membresias" role="button">Membresias</a>
        <% if(isLoggedIn){ %>
          <!-- <a class="btn btn-outline-secondary  btn-lg m-2" href="/sesion/cerrar-sesion" role="button">Cerrar sesión</a> -->
          <div class="dropdown">
            <button class="btn btn-outline-secondary  btn-lg m-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuracion
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Pagos y facturaciones</a></li>
              <li><a class="dropdown-item" href="/">Información personal</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/sesion/cerrar-sesion">Cerrar Sesion</a></li>
            </ul>
          </div>
        <% }else if(isLoggedAdminIn){ %>
          <div class="dropdown">
            <button class="btn btn-outline-secondary  btn-lg m-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuracion
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/sesion/cerrar-sesion">Cerrar Sesion</a></li>
            </ul>
          </div>
        <% } else { %>
          <a class="btn btn-outline-secondary  btn-lg m-2" href="/inicio-sesion" role="button">Iniciar Sesión</a>
        <% } %>
        
      </div>
    </div>
</nav>