<section>
    <div class="mt-4">
        <div class="row m-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 col-lg-8">
                                <form action="/sesion/resgistrarse" method="POST">
                                    <div class="row g-3 mt-4">
                                        <div class="col-12 mt-2">
                                            <label for="Nombre" class="form-label"><h4>Nombre</h4></label>
                                            <input type="text" class="form-control" name="nombre" required>
                                            <div class="invalid-feedback">
                                                Nombre es requerido.
                                            </div>
                                        </div>
                
                
                                        <div class="col-sm-6 mt-2">
                                            <label for="ApellidoP" class="form-label"><h4>Apellido Paterno</h4></label>
                                            <input type="text" class="form-control" name="app" required>
                                            <div class="invalid-feedback">
                                                Apellido Paterno es requerido.
                                            </div>
                                        </div>
                
                                        <div class="col-sm-6 mt-2">
                                            <label for="APM" class="form-label"><h4>Apellido Materno</h4></label>
                                            <input type="text" class="form-control" name="apm">
                                            <label class="mt-2"><span class="text-muted">(Opcional)</span></label>
                                        </div>
                
                                        <div class="col-sm-6">
                                            <label for="Telefono" class="form-label"><h4>Telefono</h4></label>
                                            <input type="text" class="form-control" name="telefono" required>
                                        </div>
                
                                        <div class="col-sm-6">
                                            <label for="Sexo" class="form-label"><h4>Sexo</h4></label><br>
                                            <select class="form-control" name="sexo">
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="PrefieroNE">Prefiero no espeficicar</option>
                                            </select>
                                        </div>
                
                                        <div class="col-12 mt-2">
                                            <label for="Email" class="form-label"><h4>Email</h4></label>
                                            <input type="email" class="form-control" name="email" placeholder="correo@ejemplo.com" required>
                                            <div class="invalid-feedback">
                                            Ingrese un correo electronico valido.
                                            </div>
                                        </div>
                
                                        <div class="col-12 mt-2">
                                            <label for="Password" class="form-label"><h4>Contraseña</h4></label>
                                            <input type="password" class="form-control mb-1" name="pswd" id="pswd" placeholder="Contraseña" required>
                                            <span id="mensaje"></span>
                                            <div class="invalid-feedback">
                                            Ingrese una contraseña.
                                            </div>
                                        </div>   
                                    </div>
                                    <br>
                                    <div class=" mb-5">
                                        <center>
                                            <span id="boton">&nbsp;</span><br>
                                            <button class="btn btn-outline-secondary btn-lg m-2" id="registroBtn" type="submit" disabled> 
                                            Aceptar</button>
                                        </center>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    const passwordInput = document.querySelector('#pswd');
    const passwordBtn = document.querySelector('#registroBtn');
    const passwordTxt = document.querySelector('#mensaje');

    passwordInput.addEventListener("keyup", function() {
        const password = passwordInput.value;
        if (validarPassword(password)) {
            passwordBtn.disabled = false;
            passwordTxt.textContent = "";
        } else {
            passwordBtn.disabled = true;
            passwordTxt.textContent = "La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una minúscula, un número y un caracter especial.";
        }
    });

    function validarPassword(password) {
        const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%])[0-9a-zA-Z!@#$%]{8,}$/;
        return regex.test(password);
    }
</script>