<div class="container pt-4">
    <div class="row">
        <center>
            <div class="card bg-transparent border-warning text-white" style="width: 25rem; ">
                <div class="card-body card-member">
                    <iframe class="card-img-top" style="height: 17rem;" src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916.4795703919851!2d-106.38768431641955!3d23.24606058167176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f53b12bbd08d1%3A0xb87dbddae02ed59c!2sGimnasio%20JES!5e0!3m2!1ses-419!2smx!4v1683827855307!5m2!1ses-419!2smx">
                    </iframe>
                    <h1 class="text-center text-warning">Flores magon</h1>
                    <div class="row text-center">
                        <div class="col-6">
                            <span>Precio normal</span>
                            <p>$600</p>
                        </div>
                        <div class="col-6">
                            <span>Precio Anual</span>
                            <p>$3499</p>
                        </div>
                    </div>
                    <hr>
                    <span>Av Manuel J. Clouthier #6006, Ricardo Flores Magón, 82190 Mazatlán, Sin.
                    </span>
                    <br>
                    <div class="d-grid gap-2 col-6 mx-auto mt-4">
                        <a class="btn btn-outline-secondary btn-md " href="/membresias" role="button">¡Suscribete Ya!</a>
                    </div>
                    
                </div>
            </div>
        </center>
        
    </div>
</div>