<section id="equipo" class="equipo section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-header text-center pb-5">
                    <h2>Nuestro Equipo</h2>
                </div>
            </div>
        </div>
        <div class="row row-cols-5">
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Entrenador</h3>
                    <div class="card-body">
                        <img src="img/entrenador1Info.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>
                        <!-- <p class="card-txt text-center text-muted">Active | Male | Born: 17.12.2001 </p> -->
                        <hr>
                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Entrenador</h3>
                    <div class="card-body">
                        <img src="img/entrenador2Info.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>
                        <!-- <p class="card-txt text-center text-muted">Active | Male | Born: 17.12.2001 </p> -->
                        <hr>
                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Entrenador</h3>
                    <div class="card-body">
                        <img src="img/entrenador3Info.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>
                        <!-- <p class="card-txt text-center text-muted">Active | Male | Born: 17.12.2001 </p> -->
                        <hr>
                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Fisioterapeuta</h3>
                    <div class="card-body">
                        <img src="img/fisioInfo.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>
                        <!-- <p class="card-txt text-center text-muted">Active | Male | Born: 17.12.2001 </p> -->
                        <hr>
                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Nutriologo</h3>
                    <div class="card-body">
                        <img src="img/nutriInfo.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>
                        <!-- <p class="card-txt text-center text-muted">Active | Male | Born: 17.12.2001 </p> -->
                        <hr>
                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>