<section class="entrenadores">
    <div class="entrenadores-1 txt">
        <span>01</span>
        <h3>Entrenador</h3>
    </div>

    <div class="entrenadores-2 txt">
        <span>02</span>
        <h3>Entrenador</h3>
    </div>

    <div class="entrenadores-3 txt">
        <span>03</span>
        <h3>Entrenador</h3>
    </div>

    <div class="entrenadores-4 txt">
        <span>04</span>
        <h3>Nutriologo</h3>
    </div>

    <div class="entrenadores-5 txt">
        <span>05</span>
        <h3>Fisioterapeuta</h3>
    </div>
</section>  