<div class="entrenador txt" data-id="<%= numeroEntrenador %>" data-ocupacion="<%= ocupacionTrabajador %>">
    <span><%= numeroEntrenador %></span>
    <h3><%= ocupacionTrabajador %></h3>
</div>

<script>
    var entrenadores = document.querySelectorAll('.entrenador');
    entrenadores.forEach(function(entrenador) {
        var id = entrenador.dataset.id;
        var ocupacion = entrenador.dataset.ocupacion;
        entrenador.style.backgroundImage = `linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/${ocupacion}${id}.jpg)`;
    });
</script>
