<section class="about container">
    <div class="about-img">
      <img src="/img/2.png" alt="">
    </div>
      <div class="about-txt">
        <h2>Welcome here</h2>
          <p>
            Blackout Gym courses and certifications are open to individuals and trainers seeking to improve their health and fitness through effective training and nutritional strategies.
          </p>
        <a href="/" class="btn-1">Informacion</a>
      </div>
</section>