<section class="about container">
    <div class="about-img">
      <img src="/img/2.png" alt="">
    </div>
      <div class="about-txt">
        <h2>Welcome here</h2>
          <p>
            Los cursos y certificaciones de Blackout Gym están abiertos a personas y entrenadores que buscan mejorar su salud y estado físico a través de estrategias nutricionales y de entrenamiento efectivas.
          </p>
        <a href="/" class="btn-1">Informacion</a>
      </div>
</section>